body{
    background-color: antiquewhite;
}
div {
    width: 100%;
    display: flex;
    justify-content: center;
}
table {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: inset;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
table tr{
    box-shadow: rgba(0, 0, 0, 0.15)  0px 0px 2px;
    padding: 10px;
    /* margin-bottom: 5px; */
}
table img{
    width: 30px;
    border-radius: 8px;
}
table th{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(70, 167, 247);
    padding: 10px;
}
table tr:hover{
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.635) 0px 5px 25px;
    transition: 0.7s;
}